
body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto', sans-serif;
    background: url('/file/happy-birthday-friend-gif.gif') center center fixed; /* Set the background image */
    background-size:150px ; 
}
.bday{
    background-color: #100909;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(5.5, 10, 5, 0.1);
    padding: 20px;
    text-align: center;
}
.card {
    background-color: rgba(18, 13, 13, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    margin: 20px;
    animation: bounceIn 1s ease-out; /* Apply the animation */
}

@keyframes bounceIn {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-10px);
    }
}
h1 {
    color: #3ce426;
    font-size: 2em;
}

p {
    color: #333;
    color: #e4b126;

    font-size: 1.2em;
}
  #birthdayImage {
            max-width: 50%;
            height: auto;
            margin-top: 30px;
            margin-left: 30px;

          border-radius: 15%;
            margin-bottom: -200px;
            animation: bounceIn 10s ease-out; /* Apply the animation */

        }
        #pic {
            margin-top: 20px;
    
        }
        
        .img-container {
            display: flex;
            justify-content: center;
        }
        
        .img-fluid {
            max-width: 50%;
            height: 20%;
            border-radius: 15%; /* Make the image round */
            box-shadow: 0 0 10px rgba(82, 174, 214, 0.1);
        }